@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.bg_particle {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

canvas {
    display: flex;
    justify-content: center;
}

h2 {
    color: #fff;
}

.sample:nth-child(1) {
    height: 50vh;
}

.sample:nth-child(2) {
    height: 50vh;
}

.sample:nth-child(3) {
    height: 50vh;
}